body {
  font-family: sans-serif;
  color: #9ab;
  background-color: #2c3440;
  padding: 10px;
  width: 220px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label p {
  text-align: center;
  font-style: italic;
  margin: 0;
}

#btn-reload {
  width: 100%;
  font-style: italic;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}


